body {
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 25pt;
    position: absolute;
    top: 150px;
    color: #fff;
}
main#container {
    position: absolute;
    top: 10px;
    width: 70%;
    max-width: 900px;
    height: 195%;
    max-height: 970px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
button.btn {
    width: 60px;
    height: 60px;
    padding: 0px;
    font-size: 20pt;
    cursor: pointer;
    display: block;
    margin: 10px;
}
