body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
.not-select {
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
h1.title {
    position: fixed;
    font-size: 40pt;
    color: rgba(255,255,255,.3);
    top: 50px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
h1.title:hover {
    color: rgba(255,255,255,.7);
}
main.container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.mainImage {
    background-image: linear-gradient(to bottom right, #000428, #4e4376);
}

.gradient-pink {
    background-image: linear-gradient(to bottom right,#cc2b5e ,#753a88);
}
.gradient-gray {
    background-image: linear-gradient(to bottom right,#bdc3c7 , #2c3e50);
}


div#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 200px;
}
div#calculator div button {
    width: 85px;
    height: 85px;
    font-size: 25pt;
}   
button.btn {
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,.6);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    padding: 0px;
    font-size: 20pt;
    cursor: pointer;
    display: block;
    margin: 10px;
    transition: all .3s ease-in-out; 
}
button.btn:hover {
    background-color: rgba(255,255,255,.7);
    color: #000;
}

input#display {
    position: fixed;
    font-size: 25pt;
    width: 400px;
    height: 40px;
    background-color: rgba(255,255,255,.0);
    top: 30%;
    transition: all .5s ease-in-out;
    color: #fff;
    text-align: right;
}