@media (max-width: 1015px){
    .inputBroken {
        font-size: 40pt;
    }
}

@media (max-width: 663px){
    .inputBroken {
        font-size: 25pt;
    }
}

@media (max-width: 425px) {
    button.btn {
        font-size: 12pt;
        margin: 8px;
    }
    input#display {
        text-align: center;
    }
    h1.title {
        cursor: none;
    }
    div#calculator div button {
        outline: 0;
        cursor: none;
    }
    .inputBroken {
        font-size: 20pt;
    }
}

@media (max-width: 416px) {
    div#calculator div button {
        width: 70px;
        height: 70px;
        font-size: 18pt;
    }
    input#display {
        text-align: center;
    }
}

@media (max-width: 354px) {
    div#calculator div button {
        width: 60px;
        height: 60px;
    }
    h1.title {
        font-size: 25pt;
        top: 130px;
    }
    input#display {
        text-align: center;
        top: 35%;
    }
    .inputBroken {
        font-size: 15pt;
    }
}

/* small devices */
@media (max-width: 304px) {
    div#calculator div button {
        width: 55px;
        height: 55px;
    }
    h1.title {
        top: 140px;
    }
    input#display {
        top: 40%;
    }
}

@media (max-width: 290px){
    div#calculator div button {
        width: 50px;
        height: 50px;
    }
    h1.title {
        top: 145px;
    }
}

@media (max-width: 265px){
   div#calculator div button {
        width: 45px;
        height: 45px;
    }
    input#display {
        top: 42%;
    } 
}

@media (max-width: 240px){
    div#calculator div button {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 214px){
    div#calculator div button {
        width: 30px;
        height: 30px;
        font-size: 10pt;
    }
}

@media (max-width: 186px){
    h1.title {
        font-size: 12pt;
        margin-top: -100px;
    }
    input#display {
        margin-top: 230%;
        font-size: 28pt;
    }
    div#calculator {
        display: inline;
        margin: 0;
        margin-left: -100px;
    }
    div#calculator div button {
        font-size: 16pt;
        height: 30px;
        width: 30px;
    }
}
@media (max-width: 160px){
    div#calculator div button {
        font-size: 16pt;
        height: 25px;
        width: 25px;
    }
    input#display {
        margin-top: 400px;
        font-size: 28pt;
    }
    div#calculator {
        display: inline;
        margin: 0;
        margin-left: 0px;
    }
}

@media (max-width: 106px){
    h1.title {
        display: none;
    }
    input#display {
        font-size: 20pt;
    }
}